.testimonial {
  text-align: center;
  position: relative;
}

.testimonial-img {
  display: inline-block;
  width: 20vw;
  height: 15vw;
}

.testimonial-text-container {
}

.testimonial-message {
  position: absolute;
  top: 3%;
  left: 17%;
  text-align: left;
  width: 15vw;
  height: 10vw;
  color: black;

  font-size: 1.3vw;
  font-family: "Lato", sans-serif;
  color: whitesmoke;
}

.testimonial-name {
  position: absolute;
  top: 66%;
  left: 10%;
  text-align: right;
  width: 15vw;
  height: 10vw;

  font-size: 1.3vw;
  font-family: "Lato", sans-serif;
  color: whitesmoke;
}
