.trainers {
}

.trainers-profile-1-container {
  padding-top: 5vw;
  padding-bottom: 10vw;
}

.trainers-profile-1 {
}

.trainers-profile-2-container {
  padding-bottom: 5vw;
}

.trainers-profile-2 {
}
